
			<div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12 m22 single-post">
                    <div class="widget">

	                    <div class="widget-title">
	                        <h4 style="text-transform: none;" id="Titulo">Creación de oferta laboral</h4>
	                        <hr>
	                    </div>

                        <div class="large-widget m30">

                            <div class="post-desc">

                             	<div class="row">
                                    <div class="col-md-12">
                                        <div class="widget">

                                            <div id="appljpob" class="commentform">
                                                <form class="row">
                                                	<div class="col-md-12 col-sm-12">
                                                        <label>Titulo de oferta<span class="required">*</span></label>
                                                        <input type="text" ng-model="txtTituloOferta" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Nombre empresa/publicador<span class="required">*</span></label>
                                                        <input type="text" ng-model="txtPublicador" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Categoria<span class="required">*</span></label>
                                                        <select ng-model="txtCategoria" class="form-control">
                                                        	<option value="Desarrollo">Desarrollo</option>
                                                        	<option value="Arquitectura">Arquitectura</option>
                                                        	<option value="Redes">Redes</option>
                                                        	<option value="Administración">Administración</option>
                                                        	<option value="Seguridad">Seguridad</option>
															<option value="Diseño">Diseño</option>
                                                        	<option value="Otro">Otro</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Renta ofrecida aprox (USD)<span class="required">*</span></label>
                                                        <input type="text" ng-model="txtRenta" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Tipo contrato<span class="required">*</span></label>
                                                        <select ng-model="txtTipoContrato" class="form-control">
                                                        	<option value="Plazo Fijo">Plazo fijo</option>
                                                        	<option value="Proyecto">Proyecto</option>
                                                        	<option value="Indefinido">Indefinido</option>
                                                        	<option value="Otro">Otro</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <label>Modalidad de trabajo<span class="required">*</span></label>
                                                        <select ng-model="txtModalidad" class="form-control">
                                                        	<option value="Part-Time">Part-Time</option>
                                                        	<option value="Full-Time">Full Time</option>
                                                        	<option value="Otro">Otro</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Fecha caduca oferta<span class="required">*</span></label>
                                                        <input type="text" ng-model="txtFechaCaduca" class="form-control" placeholder="" datetime-picker date-format="yyyy-MM-dd" size="30"  date-only>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Correo recepción postulaciones<span class="required">*</span></label>
                                                        <input type="text" ng-model="txtCorreoPublicador" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <label>Descripción general <span class="required">*</span></label>
                                                        <div class="lighter micontenedor">
            												<div text-angular ng-model="txtDescripcionGeneral" name="editorDesc" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
														</div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <label>Beneficios o Ventajas <span class="required">*</span></label>
                                                        <div class="lighter micontenedor">
            												<div text-angular ng-model="txtBeneficiosVentajas" name="editorBeneficios" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
														</div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <label>Requisitos <span class="required">*</span></label>
                                                        <div class="lighter micontenedor">
            												<div text-angular ng-model="txtRequisitos" name="editorRequisitos" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
														</div>
                                                    </div>
                                                    <div class="col-md-12 col-md-12">
														<div class="col-sm-12 col-sm-12 micontenedor">
															<label>Seleccione imagen</label>
															<div><input type="file" id="fileInput" /></div>
															<div class="cropArea">
																<img-crop image="myImage" result-image="myCroppedImage" result-image-size="600" area-type="square"></img-crop>
															</div>
														</div>
														<!-- <div class="col-sm-6 col-sm-12 micontenedor">
															<label>Imagen final:</label>
															<div><img ng-src="{{myCroppedImage}}" style="width:300px;" /></div>
														</div> -->
                                                	</div>
                                                	<div class="col-md-12 col-sm-12">
                                                        <input type="submit" value="Crear oferta" class="btn btn-primary" ng-click="CreaOferta()"/>
                                                    </div>
                                                </form>
                                            </div><!-- end newsletter -->
                                        </div><!-- end widget -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end post-desc -->
                        </div><!-- end large-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">


                    <div ng-include="'views/redesypublicidad.html'"></div>


                    <div class="widget">
                        <div class="widget-title">
                            <h4>Carrier</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="mini-widget carrier-widget m30">
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_01.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> We are looking a team member</a>
                                    <span class="label label-primary">Full time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_02.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking for support members (15-25 mails)</a>
                                    <span class="label label-danger">Part time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_03.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Who fix my PHP problem?</a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_04.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking Logo Designer ($15 Budget) </a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>
                        </div><!-- end mini-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
