			<div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12 m22 single-post">
                    <div class="widget">

	                    <div class="widget-title">
	                        <h4 style="text-transform: none;" id="Titulo">Creación de oferta laboral</h4>
	                        <hr>
	                    </div>

                        <div class="large-widget m30">

                            <div class="post-desc">

                             	<div class="row">
                                    <div class="col-md-12">
                                        <div class="widget">

                                            <div id="appljpob" class="commentform">
                                                <form class="row">
                                                    <div class="col-md-12">
                                                        <label>Nombre completo: <span class="required">*</span></label>
                                                        <input type="text" ng-model="txtNombres" class="form-control">
                                                        <label>Correo: <span class="required">*</span></label>
                                                        <input type="email" ng-model="txtEmail" class="form-control">
                                                        <label>Contraseña: <span class="required">*</span></label>
                                                        <input type="password" ng-model="txtContrasena" class="form-control">
                                                        <label>Repita Contraseña: <span class="required">*</span></label>
                                                        <input type="password" ng-model="txtReContrasena" class="form-control">
                                                        <label>Foto de Perfil: </label>
                                                        <input type="file" ng-model="imgImagen" class="form-control">
                                                        <textarea ng-model="txtBio"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                             	</div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>