


    <div class="row">
        <div class="col-md-12 m22 single-post">
            <div class="widget">
                <div class="large-widget m30">
                    <div class="post-desc">

                        <div class="page-404-content">
                            <div class="row">
                                <div class="col-sm-6 hidden-xs">
                                    <img alt="404-page" src="images/image-404.jpg">
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <h2>
                                    404
                                    <span>Error!</span>
                                    </h2>
                                    <p>
                                    Lo sentimos, no podemos encontrar la página que busca.<br>Por favor, vaya a 
                                    <a href="#/">Inicio </a> o buscar algo de búsqueda.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end post-desc -->
                </div>
                <!-- end large-widget -->
            </div>
            <!-- end widget -->
        </div>
        <!-- end col -->
    </div>



    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins.js"></script>



