
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12 m22 single-post">
                    <div class="widget">
                        <div class="large-widget m30">
                            <div class="post clearfix">
                                <div class="title-area text-center">
                                    <div class="bread">
                                        <ol class="breadcrumb">
                                            <li><a href="/">Inicio</a></li>
                                            <li class=""><a href="./trabajos">laboral</a></li>
                                            <li class="active">Detalle oferta</li>
                                        </ol>
                                    </div><!-- end bread -->
                                    <div class="colorfulcats">
                                        <a href="#"><span class="label {{Label}}">{{Contenido.tipocontrato}}</span></a>
                                    </div>
                                    <h3>{{Contenido.cargo}}</h3>
                                    <div class="large-post-meta">
                                        <span><a href="#"><i class="fa fa-clock-o"></i> {{Contenido.fechacreacion | date:'dd-MM-yyyy'}}</a></span>
                                        <small class="hidden-xs">&#124;</small>
                                        <span class="hidden-xs"><a href="#"><i class="fa fa-map-marker"></i> {{Contenido.pais}}</a></span>
                                        <small class="hidden-xs">&#124;</small>
                                        <span class="hidden-xs"><a href="#"><i class="fa fa-briefcase"></i> {{Contenido.categoria}}</a></span>
                                    </div><!-- end meta -->
                                    <div class="post-sharing">
                                        <ul class="list-inline">
                                            <li><a target="_blank" ng-click="CompartirFacebook()" href="javascript:void(0);" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Compartir en Facebook</span></a></li>
                                            <li><a target="_blank" href="https://twitter.com/home?status={{Ubicacion}}" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Twittear en Twitter</span></a></li>
                                            <li><a target="_blank" href="https://plus.google.com/share?url={{Ubicacion}}" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i> <span class="hidden-xs">Compartir en Google Plus</span></a></li>
                                        </ul>
                                    </div><!-- end post-sharing -->
                                </div><!-- /.pull-right -->
                                <div class="job-media row">
                                    <div class="col-sm-5">
                                        <img alt="" src="{{ Contenido.imagen }}" class="img-responsive">
                                    </div>

                                    <div class="col-sm-7 job-details">
                                        <h3>Detalle empleo</h3>
                                        <ul class="">
                                            <li><strong><i class="fa fa-user"></i> Publicador :</strong> <a href="#"> {{ Contenido.publicador }}</a></li>
                                            <li><strong><i class="fa fa-briefcase"></i> Categoria :</strong> <a href="#"> {{ Contenido.categoria }}</a></li>
                                            <li><strong><i class="fa fa-dollar"></i> Sueldo :</strong> USD {{ Contenido.sueldo }}</li>
                                            <li><strong><i class="fa fa-clock-o"></i> Término postulaciones:</strong> {{Contenido.fechatermino | date:'dd-MM-yyyy'}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- end post -->
                            <div class="post-desc">
                                <h3>Descripción General</h3>
                                <hr>
                                <div ng-bind-html="DescripcionGeneral"></div>
                                <h3>Beneficios o Ventajas</h3>
                                <hr>
                                <div ng-bind-html="BeneficiosVentajas"></div>
                                <h3>Requisitos</h3>
                                <hr>
                                <div ng-bind-html="Requisitos"></div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget">
                                            <h3>Postular</h3>
                                            <hr>
                                            <div id="appljpob" class="commentform">
                                                <form class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                    <label>Nombres <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="Juan Mora" ng-model="txtNombrePostulante">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Correo <span class="required">*</span></label>
                                                    <input type="email" class="form-control" placeholder="correo@dominio.com" ng-model="txtCorreoPostulante">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Telefono <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="+569 1234 5678" ng-model="txtTelefonoPostulante">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Linkedin <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="https://linkedin.com/in/minombre" ng-model="txtLinkedinPostulante">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Portafolio <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="http://misproyectosdeejemplo.com" ng-model="txtPortafolioPostulante">
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label>Experiencia</label>
                                                    <textarea class="form-control" placeholder="" ng-model="txtExperienciaPostulante"></textarea>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label>Carta Presentación <span class="required">*</span></label>
                                                    <textarea class="form-control" placeholder="" ng-model="txtCartaPresentacionPostulante"></textarea>
                                                </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <input type="button" value="Postular" class="btn btn-primary" ng-click="Postular($event,Contenido.idTrabajos)"/>
                                                    </div>
                                                </form>
                                            </div><!-- end newsletter -->
                                        </div><!-- end widget -->
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end post-desc -->
                        </div><!-- end large-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div ng-include="'views/redesypublicidad.html'"></div>
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Carrier</h4>
                            <hr>
                        </div><!-- end widget-title -->
                        <div class="mini-widget carrier-widget m30">
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_01.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> We are looking a team member</a>
                                    <span class="label label-primary">Full time</span>
                                </div>
                            </div>
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_02.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking for support members (15-25 mails)</a>
                                    <span class="label label-danger">Part time</span>
                                </div>
                            </div>
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_03.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Who fix my PHP problem?</a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_04.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking Logo Designer ($15 Budget) </a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>
                        </div><!-- end mini-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
