{{ IdDetalle }}<br>
{{ Detalle.split('-').join(' ') }}

            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12 m22 single-post">
                    <div class="widget">
                        <div class="large-widget m30">
                            <div class="post clearfix">

                                <div class="title-area text-center">
                                    <div class="bread">
                                        <ol class="breadcrumb">
                                            <li><a href="#">Home</a></li>
                                            <li class="">Jobs</li>
                                            <li class="active">Single Job</li>
                                        </ol>
                                    </div><!-- end bread -->
                                    <div class="colorfulcats">
                                        <a href="#"><span class="label label-danger">Part Time</span></a>
                                    </div>
                                    <h3>Head of BI & Analytics (Manager or Director)</h3>

                                    <div class="large-post-meta">
                                        <span><a href="category.html"><i class="fa fa-clock-o"></i> 21 March 2016</a></span>
                                        <small class="hidden-xs">&#124;</small>
                                        <span class="hidden-xs"><a href="#"><i class="fa fa-map-marker"></i> New York / USA</a></span>
                                        <small class="hidden-xs">&#124;</small>
                                        <span class="hidden-xs"><a href="single.html"><i class="fa fa-briefcase"></i> Web Design</a></span>
                                    </div><!-- end meta -->

                                    <div class="post-sharing">
                                        <ul class="list-inline">
                                            <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Share on Facebook</span></a></li>
                                            <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweet on Twitter</span></a></li>
                                            <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div><!-- end post-sharing -->
                                </div><!-- /.pull-right -->

                                <div class="job-media row">
                                    <div class="col-sm-5">
                                        <img alt="" src="upload/job.jpg" class="img-responsive">
                                    </div>

                                    <div class="col-sm-7 job-details">
                                        <h3>Job Details</h3>
                                        <ul class="">
                                            <li><strong><i class="fa fa-user"></i> Publisher :</strong> <a href="#"> John DOE</a></li>
                                            <li><strong><i class="fa fa-briefcase"></i> Job Category :</strong> <a href="#"> Web Design</a></li>
                                            <li><strong><i class="fa fa-dollar"></i> Job Price :</strong> $21.00 - $120.00</li>
                                            <li><strong><i class="fa fa-clock-o"></i> Delivery Time :</strong> 5 Days</li>
                                            <li><strong><i class="fa fa-cog"></i> Revision :</strong> 3 Times</li>
                                        </ul>
                                        <a href="#appljpob" class="btn btn-primary"><i class="fa fa-check"></i> Apply Job</a> <a href="contact.html" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Ask a Question</a>
                                    </div>
                                </div>

                            </div><!-- end post -->

                            <div class="post-desc">

                                <h3>Overview</h3>

                                <hr>

                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in in professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source...</p>

                                <p><strong>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section</strong></p>

                                <h3>Benefits & Perks</h3>

                                <hr>

                                <ul class="check">
                                    <li>Set your own Dropbox storage quota</li>
                                    <li>Free breakfast, lunch and dinner daily, plus tons of snacks and beverages</li>
                                    <li>Office across from the SF Giants’ ballpark</li>
                                    <li>Really flexible hours</li>
                                    <li>Eighteen days of paid vacation and eleven paid holidays</li>
                                    <li>If you’re sick, just stay home and get better</li>
                                    <li>Subsidized gym and commuter programs, including our very own Dropbox shuttle service within San Francisco
                                    401(k)</li>
                                    <li>Vision, dental, life, and health insurance too</li>
                                    <li>Join the band. Complete music studio equipped with drums, P.A., amplifiers, etc…</li>
                                    <li>Whiskey Fridays</li>
                                    <li>Gaming! Starcraft, dedicated game rooms, DDR (yep, a real machine), ping pong, tournaments, and more</li>
                                </ul>

                                <h3>Qualifications</h3>

                                <hr>

                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

                                <hr>

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="hidden-xs">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="hidden-xs">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->

                                <br>
                                <br>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="widget">
                                            <h3>Apple Job Form</h3>

                                            <hr>

                                            <div id="appljpob" class="commentform">
                                                <form class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <label>Details <span class="required">*</span></label>
                                                        <textarea class="form-control" placeholder=""></textarea>
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Your Offer For This Job <span class="required">*</span></label>
                                                        <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-6 col-sm-12">
                                                        <label>Your Delivery Time <span class="required">*</span></label>
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Your Name <span class="required">*</span></label>
                                                        <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Your Email <span class="required">*</span></label>
                                                        <input type="email" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-4 col-sm-12">
                                                        <label>Your Portfolio Link</label>
                                                        <input type="text" class="form-control" placeholder="">
                                                    </div>
                                                    <div class="col-md-12 col-sm-12">
                                                        <input type="submit" value="Apply Job" class="btn btn-primary" />
                                                    </div>
                                                </form>
                                            </div><!-- end newsletter -->
                                        </div><!-- end widget -->   
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end post-desc -->


                        </div><!-- end large-widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Social Media</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="social-media-widget m30">
                            <ul class="list-social clearfix">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i> <small>12.042</small></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> <small>67.221</small></a></li>
                                <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i> <small>44.213</small></a></li>
                                <li class="rss"><a href="#"><i class="fa fa-rss"></i> <small>22.551</small></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i> <small>33.122</small></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i> <small>55.123</small></a></li>
                                <li class="youtube"><a href="#"><i class="fa fa-youtube"></i> <small>44.112</small></a></li>
                                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i> <small>12.441</small></a></li>
                            </ul>
                        </div><!-- end social -->
                    </div>

                    <div class="widget hidden-xs">
                        <div class="widget-title">
                            <h4>Advertising</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="ads-widget m30">
                            <a href="#"><img src="upload/banner_01.jpg" alt="" class="img-responsive"></a>
                        </div><!-- end ads-widget -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <div class="widget-title">
                            <h4>Carrier</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="mini-widget carrier-widget m30">
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_01.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> We are looking a team member</a>
                                    <span class="label label-primary">Full time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_02.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking for support members (15-25 mails)</a>
                                    <span class="label label-danger">Part time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_03.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Who fix my PHP problem?</a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_04.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking Logo Designer ($15 Budget) </a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>
                        </div><!-- end mini-widget -->
                    </div><!-- end widget -->   
                </div><!-- end col -->
            </div><!-- end row -->

