
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Redes sociales</h4>
                            <hr>
                        </div>
                        <!-- end widget-title -->

                        <div class="social-media-widget m30">
                            <ul class="list-social clearfix">
                                <li class="facebook"><a href="https://facebook.com/pgramadores"><i class="fa fa-facebook"></i> <small>2.329</small></a></li>
                                <li class="twitter"><a href="https://twitter.com/pgramadores"><i class="fa fa-twitter"></i> <small>39</small></a></li>
                                <li class="googleplus"><a href="https://plus.google.com/+ProgramadoresBlogspotpgramadores"><i class="fa fa-google-plus"></i> <small>20</small></a>
                                <li class="youtube"><a href="https://youtube.com/pgramadores"><i class="fa fa-youtube"></i> <small>68</small></a></li>
                            </ul>
                        </div>
                        <!-- end social -->
                    </div>

                    <div class="widget hidden-xs">
                        <div class="widget-title">
                            <h4>Publicidad</h4>
                            <hr>
                        </div>
                        <!-- end widget-title -->

                        <div class="ads-widget m30">
                            <a href="#"><img src="upload/banner_01.jpg" alt="" class="img-responsive"></a>
                        </div>
                        <!-- end ads-widget -->
                    </div>
                    <!-- end widget -->
