            <style type="text/css">
                .modal-header{
                    border-bottom: none !important;
                }
            </style>


            <div ng-class="Spinner" id="Spinner" class=""><img src="images/ajax-loader.gif"></div>

            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 m22">
                    <div class="widget searchwidget joblist" ng-repeat="key in filteredTodos">
                        <div class="large-widget m30">
                            <div class="post row clearfix">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img alt="" src="upload/job.jpg" class="img-responsive">
                                        </a>
                                        <a href="#detalleoferta/{{key.idTrabajos}}/{{key.Cargo.split(' ').join('-')}}/" class="btn btn-primary btn-block" >
                                            <i class="fa fa-search"></i> Revisar oferta
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="title-area">
                                        <div class="colorfulcats">
                                            <a href="#"><span class="label label-primary">Full time</span></a>
                                        </div>
                                        <a href="#detalleoferta/{{key.idTrabajos}}/{{ key.Cargo.split(' ').join('-') }}/">{{key.Cargo}}</h3></a>

                                        <div class="job-details">
                                            <ul class="">
                                                <li><strong><i class="fa fa-user"></i> Publicador :</strong> <a href="#"> {{key.Publicador}}</a></li>
                                                <li><strong><i class="fa fa-briefcase"></i> Categoria :</strong> <a href="#"> {{key.Categoria}}</a></li>
                                                <li><strong><i class="fa fa-dollar"></i> Sueldo aproximado USD :</strong> {{key.Sueldo}}</li>
                                                <li><strong><i class="fa fa-clock-o"></i> Tipo contrato :</strong> {{key.TipoContrato}}</li>
                                                <li><strong><i class="fa fa-cog"></i> Etapas de ingreso :</strong> {{key.NivelEntrevista}} Etapas</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.pull-right -->
                                </div>
                            </div><!-- end post -->
                        </div><!-- end large-widget -->
                    </div><!-- end widget -->

                    <div class="pagination-wrapper">
                       <uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div ng-include="'views/redesypublicidad.html'"></div>
                </div><!-- end col -->
            </div><!-- end row -->

