            <style type="text/css">
                .modal-header{
                    border-bottom: none !important;
                }
            </style>



            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 m22">
                    <div class="widget searchwidget joblist" ng-repeat="key in filteredTodos">
                        <div class="large-widget m30">
                            <div class="post row clearfix">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img alt="" src="upload/job.jpg" class="img-responsive">
                                        </a>
                                        <a href="javascript:void(0);" ng-click="open(key.idTrabajos)" class="btn btn-primary btn-block" >
                                            <i class="fa fa-check"></i> Postular
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="title-area">
                                        <div class="colorfulcats">
                                            <a href="#"><span class="label label-primary">Full time</span></a>
                                        </div>
                                        <a href="#detalleoferta/{{ key.Cargo.split(' ').join('-') }}/{{key.idTrabajos}}">{{key.Cargo}}</h3></a>

                                        <div class="job-details">
                                            <ul class="">
                                                <li><strong><i class="fa fa-user"></i> Publicador :</strong> <a href="#"> {{key.Publicador}}</a></li>
                                                <li><strong><i class="fa fa-briefcase"></i> Categoria :</strong> <a href="#"> {{key.Categoria}}</a></li>
                                                <li><strong><i class="fa fa-dollar"></i> Sueldo aproximado :</strong> {{key.Sueldo}}</li>
                                                <li><strong><i class="fa fa-clock-o"></i> Tipo contrato :</strong> {{key.TipoContrato}}</li>
                                                <li><strong><i class="fa fa-cog"></i> Etapas de ingreso :</strong> {{key.NivelEntrevista}} Etapas</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.pull-right -->
                                </div>
                            </div><!-- end post -->
                        </div><!-- end large-widget -->
                    </div><!-- end widget -->

                    <div class="pagination-wrapper">
                        <nav>
                            <div data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize"  data-boundary-links="true">
                            </div>
                        </nav>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Carrier</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="mini-widget carrier-widget m30">
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_01.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> We are looking a team member</a>
                                    <span class="label label-primary">Full time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_02.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking for support members (15-25 mails)</a>
                                    <span class="label label-danger">Part time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_03.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Who fix my PHP problem?</a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_04.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking Logo Designer ($15 Budget) </a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>
                        </div><!-- end mini-widget -->
                    </div><!-- end widget -->  
                    <div ng-include="'views/redesypublicidad.html'"></div>
                </div><!-- end col -->
            </div><!-- end row -->

            <!-- Modal para postulación a trabajo -->
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                   <div class="widget-title">
                        <h4>Formulario de postulación</h4>
                        <hr>
                    </div>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="txt" value="{{ IdEmpleoAPostular }}">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="widget">
                                        <!-- end widget-title -->
                                        <div class="commentform">
                                            <form class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <label>Nombres <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="Juan Mora" ng-model="txtNombres">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Correo <span class="required">*</span></label>
                                                    <input type="email" class="form-control" placeholder="correo@dominio.com" ng-model="txtCorreo">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Telefono <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="+569 1234 5678" ng-model="txtTelefono">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Linkedin <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="https://linkedin.com/in/minombre" ng-model="txtLinkedin">
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <label>Portafolio <span class="required">*</span></label>
                                                    <input type="text" class="form-control" placeholder="http://misproyectosdeejemplo.com" ng-model="txtPortafolio">
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label>Experiencia</label>
                                                    <textarea class="form-control" placeholder="" ng-model="txtExperiencia"></textarea>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <label>Carta Presentación <span class="required">*</span></label>
                                                    <textarea class="form-control" placeholder="" ng-model="txtCartaPresentacion"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- end newsletter -->
                                    </div>
                                    <!-- end form-container -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end col -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="Postular(IdEmpleoAPostular,$event)">Enviar postulación</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel();ok();">Cerrar</button>
                </div>
            </script>
            <!-- Fin modal -->