            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 m22">
                    <div class="widget searchwidget joblist">

                        <div class="large-widget m30">
                            <div class="post row clearfix">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img alt="" src="upload/job.jpg" class="img-responsive">
                                        </a>
                                        <a href="#appljpob" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Apply Job</a> 
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="title-area">
                                        <div class="colorfulcats">
                                            <a href="#"><span class="label label-primary">Full time</span></a>
                                        </div>
                                        <a href="single-job.html"><h3>We are looking a team member (In Office)</h3></a>

                                        <div class="job-details">
                                            <ul class="">
                                                <li><strong><i class="fa fa-user"></i> Publisher :</strong> <a href="#"> John DOE</a></li>
                                                <li><strong><i class="fa fa-briefcase"></i> Job Category :</strong> <a href="#"> Web Design</a></li>
                                                <li><strong><i class="fa fa-dollar"></i> Job Price :</strong> $21.00 - $120.00</li>
                                                <li><strong><i class="fa fa-clock-o"></i> Delivery Time :</strong> 5 Days</li>
                                                <li><strong><i class="fa fa-cog"></i> Revision :</strong> 3 Times</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.pull-right -->
                                </div>
                            </div><!-- end post -->
                        </div><!-- end large-widget -->

                        <div class="large-widget m30">
                            <div class="post row clearfix">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img alt="" src="upload/job_01.jpg" class="img-responsive">
                                        </a>
                                        <a href="#appljpob" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Apply Job</a> 
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="title-area">
                                        <div class="colorfulcats">
                                            <a href="#"><span class="label label-info">Freelancer</span></a>
                                        </div>
                                        <a href="single-job.html"><h3>Anybody build my email subscribe form With Mailchimp email service?</h3></a>

                                        <div class="job-details">
                                            <ul class="">
                                                <li><strong><i class="fa fa-user"></i> Publisher :</strong> <a href="#"> Mark SANDERS</a></li>
                                                <li><strong><i class="fa fa-briefcase"></i> Job Category :</strong> <a href="#"> Email Marketing</a></li>
                                                <li><strong><i class="fa fa-dollar"></i> Job Price :</strong> $10.00 - $21.00</li>
                                                <li><strong><i class="fa fa-clock-o"></i> Delivery Time :</strong> 1 Days</li>
                                                <li><strong><i class="fa fa-cog"></i> Revision :</strong> 1 Times</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.pull-right -->
                                </div>
                            </div><!-- end post -->
                        </div><!-- end large-widget -->

                        <div class="large-widget m30">
                            <div class="post row clearfix">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img alt="" src="upload/job_02.jpg" class="img-responsive">
                                        </a>
                                        <a href="#appljpob" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Apply Job</a> 
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="title-area">
                                        <div class="colorfulcats">
                                            <a href="#"><span class="label label-info">Freelancer</span></a>
                                        </div>
                                        <a href="single-job.html"><h3>Looking professional logo designer, who want to design our company logo?</h3></a>

                                        <div class="job-details">
                                            <ul class="">
                                                <li><strong><i class="fa fa-user"></i> Publisher :</strong> <a href="#"> Amly LOCKER</a></li>
                                                <li><strong><i class="fa fa-briefcase"></i> Job Category :</strong> <a href="#"> Logo Design</a></li>
                                                <li><strong><i class="fa fa-dollar"></i> Job Price :</strong> $44.00 - $129.00</li>
                                                <li><strong><i class="fa fa-clock-o"></i> Delivery Time :</strong> 3 Days</li>
                                                <li><strong><i class="fa fa-cog"></i> Revision :</strong> 4 Times</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.pull-right -->
                                </div>
                            </div><!-- end post -->
                        </div><!-- end large-widget -->

                        <div class="large-widget m30">
                            <div class="post row clearfix">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img alt="" src="upload/job_04.jpg" class="img-responsive">
                                        </a>
                                        <a href="#appljpob" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Apply Job</a> 
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="title-area">
                                        <div class="colorfulcats">
                                            <a href="#"><span class="label label-info">Freelancer</span></a>
                                        </div>
                                        <a href="single-job.html"><h3>Fix my template JavaScript problem - Its not work on Google Chrome</h3></a>

                                        <div class="job-details">
                                            <ul class="">
                                                <li><strong><i class="fa fa-user"></i> Publisher :</strong> <a href="#"> Jenny DOE</a></li>
                                                <li><strong><i class="fa fa-briefcase"></i> Job Category :</strong> <a href="#"> Website Design</a></li>
                                                <li><strong><i class="fa fa-dollar"></i> Job Price :</strong> $10.00 - $20.00</li>
                                                <li><strong><i class="fa fa-clock-o"></i> Delivery Time :</strong> 1 Days</li>
                                                <li><strong><i class="fa fa-cog"></i> Revision :</strong> 1 Times</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.pull-right -->
                                </div>
                            </div><!-- end post -->
                        </div><!-- end large-widget -->

                        <div class="large-widget m30">
                            <div class="post row clearfix">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="single.html">
                                            <img alt="" src="upload/job_03.jpg" class="img-responsive">
                                        </a>
                                        <a href="#appljpob" class="btn btn-primary btn-block"><i class="fa fa-check"></i> Apply Job</a> 
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="title-area">
                                        <div class="colorfulcats">
                                            <a href="#"><span class="label label-info">Freelancer</span></a>
                                        </div>
                                        <a href="single-job.html"><h3>Bootstrap Framewok - Convert my PSD template to Bootstrap template</h3></a>

                                        <div class="job-details">
                                            <ul class="">
                                                <li><strong><i class="fa fa-user"></i> Publisher :</strong> <a href="#"> Amly LOCKER</a></li>
                                                <li><strong><i class="fa fa-briefcase"></i> Job Category :</strong> <a href="#"> Website Design</a></li>
                                                <li><strong><i class="fa fa-dollar"></i> Job Price :</strong> $344.00 - $1256.00</li>
                                                <li><strong><i class="fa fa-clock-o"></i> Delivery Time :</strong> 12 Days</li>
                                                <li><strong><i class="fa fa-cog"></i> Revision :</strong> 5 Times</li>
                                            </ul>
                                        </div>
                                    </div><!-- /.pull-right -->
                                </div>
                            </div><!-- end post -->
                        </div><!-- end large-widget -->
                    </div><!-- end widget -->

                    <div class="pagination-wrapper">
                        <nav>
                          <ul class="pagination">
                            <li>
                              <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                    </div>
                </div><!-- end col -->

                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Carrier</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="mini-widget carrier-widget m30">
                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_01.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> We are looking a team member</a>
                                    <span class="label label-primary">Full time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_02.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking for support members (15-25 mails)</a>
                                    <span class="label label-danger">Part time</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_03.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Who fix my PHP problem?</a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>

                            <div class="post clearfix">
                                <div class="mini-widget-thumb">
                                    <a href="single.html">
                                        <img alt="" src="upload/carrer_04.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="mini-widget-title">
                                    <a href="single.html"> Looking Logo Designer ($15 Budget) </a>
                                    <span class="label label-info">Freelancer</span>
                                </div>
                            </div>
                        </div><!-- end mini-widget -->
                    </div><!-- end widget -->  
                    <div class="widget">
                        <div class="widget-title">
                            <h4>Social Media</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="social-media-widget m30">
                            <ul class="list-social clearfix">
                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i> <small>12.042</small></a></li>
                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i> <small>67.221</small></a></li>
                                <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i> <small>44.213</small></a></li>
                                <li class="rss"><a href="#"><i class="fa fa-rss"></i> <small>22.551</small></a></li>
                                <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i> <small>33.122</small></a></li>
                                <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i> <small>55.123</small></a></li>
                                <li class="youtube"><a href="#"><i class="fa fa-youtube"></i> <small>44.112</small></a></li>
                                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i> <small>12.441</small></a></li>
                            </ul>
                        </div><!-- end social -->
                    </div>

                    <div class="widget hidden-xs">
                        <div class="widget-title">
                            <h4>Advertising</h4>
                            <hr>
                        </div><!-- end widget-title -->

                        <div class="ads-widget m30">
                            <a href="#"><img src="upload/banner_01.jpg" alt="" class="img-responsive"></a>
                        </div><!-- end ads-widget -->
                    </div><!-- end widget --> 
                </div><!-- end col -->
            </div><!-- end row -->